.item__counter {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: auto;
  height: 12px;
  top: 8px;
  right: 0px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  padding: 0 2px;
}