.product__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  a {
    width: 25%;
  }
}

.product {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.product__header {
  position: relative;
  width: 100%;
}
.product__image {
  width: 100%;
  margin: 0;
  img {
    width: 100%;
  }
}

.product__on-sale {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #212529;
  color: #fff;
  padding: 0 5px;
  font-weight: bold;
}

.product__info {
  text-align: center;
  font-weight: bold;
  margin: 5px 0;
}

.product__prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  span {
    margin: 0 5px;
  }
}

.regular__price--has-discount {
  color: #a7a7a7;
  text-decoration: line-through;
}