@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 10px;;
}

body {
	height: 100vh;
	width: 100%;
	background-color: #fafafa;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans SC', sans-serif;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

.app {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow-y: hidden;
	transition: opacity 225ms;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.app--drawer-show {
	&:before {
		backface-visibility: visible;
		background-color: rgba(0, 0, 0, 0.7);
		bottom: 0;
		content: "";
		height: 100vh;
		opacity: .75;
		pointer-events: all;
		position: fixed;
		right: 0;
		visibility: visible;
		width: 100vw;
		z-index: 15;
	}
}

.container {
	max-width: 728px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}